body {
  background-image: url("./15803400-illustration-of-different-shopping-bag-on-sale-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.navbarSizing {
  padding-bottom: 10px;
  padding-top: 10px;
}
