body {
  background-image: url("./images/shoppingbags.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem;
}

.navbarSizing {
  padding-bottom: 10px;
  padding-top: 10px;
}

.carousel {
  height: 450px;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel img {
  height: 400px;
  padding: 30px;
  margin: 40px;
  border-radius: 10%;
}

.carousel a {
  margin: 0 auto;
}
